name: Pull Request Checks

on:
  pull_request:
    branches: [main, develop, release/*]

jobs:
  setups:
    name: Setup packages
    uses: ./.github/workflows/setup-packages-job.yml

  unit-test:
    name: Run Unit Test
    needs: [setups]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        node: [16.x]
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'

      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/node_modules/
          key: cache-node-modules-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            - cache-node-modules-

      - name: Run unit tests
        run: |
          yarn test

  build:
    name: Build dist
    needs: [setups]
    uses: ./.github/workflows/builder-job.yml
